@using System.Collections.Generic
@using System.Linq
@using Accelerate.Foundations.Common.Helpers
@using Microsoft.AspNetCore.Http 
@model Accelerate.Features.Account.Models.Views.ManagePage
@{
    Layout = "/Views/Account/_ManagePageLayout.cshtml";
}
<section>
    <div x-data="{
            item: $store.media.getDummyMedia(),
            items: [],
            userId: '@Model.UserId',
            filterEvent: 'onFilterChange',
            actionEvent: 'action:post',
            quoteEvent: 'quote:post',
            filterData: [
                {
                    name: 'Tags',
                    values: ['C#'],
                    selected: 'C#',
                    type: 'Checkbox',
                },
                {
                    name: 'Type',
                    values: ['All', 'Image', 'Video'],
                    selected: 'All',
                    type: 'Checkbox',
                },
                {
                    name: 'Sort',
                    values: ['Created', 'Updated', 'Top Rated', 'Bottom Rating'],
                    selected: 'All',
                    type: 'Radio',
                }
            ],
            fields: [,
            init() {

            }
        }">
        <nav>
            <ul>
                <div x-data="appNavFilters({
                filters: filterData
                })"></div>
            </ul>
            <ul>
                <button class="material-icon flat primary" @@click="$events.emit('@Model.ModalCreateMedia.Target', { target: '@Model.ModalCreateMedia.Target' })">Add</button>
            </ul>
        </nav>
        <!-- Filters -->
        <div x-data="gridCardMedia( {
                actionUrl: '/api/mediablob',
                searchUrl: '/api/mediasearch/blobs',
                filterEvent: filterEvent,
                actionEvent: actionEvent,
                initSearch: true,
                quoteEvent: quoteEvent,
                userId: '@Model.UserId',
                itemEvent: $store.wssContentPosts.getMessageEvent(),
                items: items
                initSearch: true,
                })">
        </div>
    </div>
</section>
<div x-data="modalFormFile(@JsonSerializerHelper.SerializeObject(Model.ModalCreateMedia))"></div>
