@model Accelerate.Foundations.Common.Models.BasePage.Models.PageMetadata
@{ }
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no, user-scalable=yes, minimal-ui">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<link rel="icon" href="/favicon.ico" />

<title>@Model.Title</title>
<meta name="description" content="@Model.Description">
<meta name="keywords" content="@Model.Keywords">
<link rel="canonical" href="@Model.CanonHref">

<meta name="application-name" content="@Model.Title">
<meta name="msapplication-tooltip" content="@Model.Description">
<meta name="msapplication-starturl" content="/">
<meta name="msapplication-navbutton-color" content="@Model.ThemeColor">
<meta name="msapplication-task" content="name=;action-uri=;icon-uri=;">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="@Model.ThemeColor">

<link rel="apple-touch-icon" sizes="180x180" href="/src/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/src/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/src/favicon-16x16.png">
<link rel="manifest" href="/src/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="@Model.ThemeColor">
<meta name="theme-color" content="@Model.ThemeColor">
