 @using System.Collections.Generic
@using System.Linq
@using Accelerate.Foundations.Common.Helpers
@using Accelerate.Features.Content.Models.Views
@using Accelerate.Foundations.Common.Helpers
@using Microsoft.AspNetCore.Http
@model ChannelPage
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var currentTab = Context.Request.Path.Value.Split('/').LastOrDefault();
}

<div class="grid" x-data>
    <!-- Channels panel -->
    <div>
        <nav>
            <ul>
                <header>
                    <hgroup>
                        <h1>@Model.Item.Name</h1>
                    </hgroup>
                </header>
            </ul>
            <ul>
                <!--Filters-->
                <div x-data="dropdown(@JsonSerializerHelper.SerializeObject(Model.ChannelsDropdown))"></div>
                
                <button class="material-icon click flat primary" @@click="$events.emit('@Model.ModalEditChannel.Target', { target: '@Model.ModalEditChannel.Target' })">edit</button>
            </ul>
        </nav>
        <div class="grid">
            <div>
                <strong><sup>Category</sup></strong>
                <div class="chips">
                    @if(!string.IsNullOrEmpty(Model.Item.Category))
                    {
                        <a style="text-decoration:none" class="tag flat closable primary small">
                            <strong><sup>@Model.Item.Category</sup></strong>
                        </a>
                    }
                    else
                    {
                        <sup>No category set</sup>
                    }
                </div>
            </div>
            <div>
                <strong><sup>Tags</sup></strong>
                @if (Model.Item.Tags != null)
                {
                    <div class="chips">
                        <template x-for="item in @JsonSerializerHelper.SerializeObject(Model.Item.Tags)">
                            <a style="text-decoration:none" class="tag flat closable primary small">
                                <strong><sup x-text="item"></sup></strong>
                            </a>
                        </template>
                    </div>
                }
                else
                {
                    <div class="chips">
                        <sup>No tags set</sup>
                    </div>
                }
            </div>
        </div>
        <div>
            <strong><sup>Description</sup></strong>
            <p>@Model.Item.Description</p>
        </div>

        <!--Feed-->
        <div x-data>
            <nav>
                <ul>
                    @foreach (var tab in Model.Tabs)
                    {
                        var tabClass = currentTab == tab.Text ? "selected" : "";
                        <a role="button" style="width: 100%" class="flat primary tab @tabClass" href="@tab.Href">@tab.Text</a>
                    }
                </ul>
            </nav>
            <section>
                @RenderBody()
            </section>
        </div>
        <!--
        <div x-data="appFormResponse(@JsonSerializerHelper.SerializeObject(Model.FormCreateReply))"></div>

        <div x-data="appNavFilters({
            filters: @JsonSerializerHelper.SerializeObject(Model.Filters),
            event: '@Model.FilterEvent'
        })"></div>

        <div x-data="listCards( {
            actionUrl: 'https://localhost:7220/api/contentpostactivity',
            searchUrl: 'https://localhost:7220/api/contentsearch/posts',
            filterEvent: '@Model.FilterEvent',
            userId: '@Model.UserId',
            actionEvent: 'action:post',
            targetChannel: '@Model.Item.Id',
            itemEvent: $store.wssContentPosts.getMessageEvent(),
          })">
        </div>
        -->
    </div>
</div>

<!-- Modals -->
<!-- Create channel -->
<div x-data="modalForm(@JsonSerializerHelper.SerializeObject(Model.ModalEditChannel))"></div>

<!-- Edit post -->
<div x-data="modalForm(@JsonSerializerHelper.SerializeObject(Model.ModalEditReply))"></div>

<!-- Delete post -->
<div x-data="modalForm(@JsonSerializerHelper.SerializeObject(Model.ModalDeleteReply))"></div>

<!-- Share post -->
<div x-data="modal({target: 'modal-share-post', title: 'Share post', text: 'test 123'  })"></div>

