@using System.Collections.Generic
@using System.Linq
@using Accelerate.Features.Content.Models.Views
@using Accelerate.Foundations.Common.Helpers
@using Microsoft.AspNetCore.Http 
@model ChannelPage
@{
    Layout = "/Views/Shared/_ChannelPageLayout.cshtml";
} 
<div>
    @if (Model.IsAuthenticated)
    {
        <div x-data="appFormResponse(@JsonSerializerHelper.SerializeObject(Model.FormCreateReply))"></div>
    }
    else
    {
        <article>Login to respond</article>
    }
    <!--Filter-->
    <div x-data="appNavFilters({
        filters: @JsonSerializerHelper.SerializeObject(Model.Filters),
        event: '@Model.FilterEvent'
    })"></div>
         
    <!--Feed-->
    <div x-data="listCards( {
        actionUrl: '/api/contentpostactivity',
        searchUrl: '/api/contentsearch/posts',
        filterEvent: '@Model.FilterEvent',
        userId: '@Model.UserId',
        actionEvent: 'action:post',
        filters: {
            targetChannel: ['@Model.Item.Id']
        },
        itemEvent: $store.wssContentPosts.getMessageEvent(),
        })">
    </div>
</div>
