@using System.Collections.Generic
@using System.Linq
@using Accelerate.Features.Content.Models.Views
@using Accelerate.Foundations.Common.Helpers
@using Microsoft.AspNetCore.Http 
@model ChannelPage
@{
    Layout = "/Views/Shared/_ChannelPageLayout.cshtml";
}
<div>
    <!--Filter-->
    <div x-data="appNavFilters({
        filters: @JsonSerializerHelper.SerializeObject(Model.Filters),
        event: '@Model.FilterEvent'
    })"></div>
         
    <!--Feed-->
    <div x-data="listCards( {
        actionUrl: '@Model.ActionsApiUrl',
        searchUrl: '/api/contentsearch/posts/related/@Model.Item.Id',
        filterEvent: '@Model.FilterEvent',
        userId: '@Model.UserId',
        actionEvent: 'action:post',
        filters: {},
        itemEvent: $store.wssContentPosts.getMessageEvent(),
        })">
    </div>
</div>
