@using System.Collections.Generic
@using System.Linq
@using Accelerate.Features.Content.Models.Views
@using Accelerate.Foundations.Common.Helpers
@using Microsoft.AspNetCore.Http 
@model ChannelPage
@{
    Layout = "/Views/Shared/_ChannelPageLayout.cshtml";
}
<div>
    <!--Filter-->
    <div x-data="appNavFilters({
        filters: @JsonSerializerHelper.SerializeObject(Model.Filters),
        event: '@Model.FilterEvent'
    })"></div>
         
    <!--Feed-->
    <div x-data="listCards( {
        actionUrl: 'https://localhost:7220/api/contentpostactivity',
        searchUrl: 'https://localhost:7220/api/contentsearch/posts',
        filterEvent: '@Model.FilterEvent',
        userId: '@Model.UserId',
        actionEvent: 'action:post',
        filters: {
            targetChannel: ['@Model.Item.Id'],
            category: ['@Model.Item.Category'],
            tags: @JsonSerializerHelper.SerializeObject(Model.Item.Tags),
        },
        itemEvent: $store.wssContentPosts.getMessageEvent(),
        })">
    </div>
</div>

<!-- Modals -->
<!-- Create channel -->
<div x-data="modalForm(@JsonSerializerHelper.SerializeObject(Model.ModalEditChannel))"></div>

<!-- Edit post -->
<div x-data="modalForm(@JsonSerializerHelper.SerializeObject(Model.ModalEditReply))"></div>

<!-- Delete post -->
<div x-data="modalForm(@JsonSerializerHelper.SerializeObject(Model.ModalDeleteReply))"></div>

<!-- Share post -->
<div x-data="modal({target: 'modal-share-post', title: 'Share post', text: 'test 123'  })"></div>
